html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  z-index: 1;
}

#content {
  position: relative;
  z-index: 2;
}