@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

canvas {
  position: absolute;
  z-index: 1;
}

#game {
  position: relative;
  z-index: 2;
  width: 60%;
}

#sentence {
  width: 80%;
  height: 50px;
  padding: 10px;
  border: 1px solid;
  font-family: Caveat;
  font-size: 24px;
}
