* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* border: 1px solid red; */
}

.container {
    text-align: center;
}

#login {
    transform: translate(0, 20vh);
}

#register {
    transform: translate(0, 10vh);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-control {
    border-radius: 20px !important;
}

.submit {
    border-radius: 20px !important;
    background: #f6c1bb !important;
    border: #f6c1bb;
}

.submit:hover {
    background-color: #ec6d7b !important;
}

/* change color of Register button */
.link:link {
    color: #f6c1bb;
    background-color: transparent;
    text-decoration: none;
  }
.link:visited {
    color: #ec6d7b;
    background-color: transparent;
    text-decoration: none;
  }
.link:hover {
    color: #ec6d7b;
    background-color: transparent;
    text-decoration: underline;
  }
.link:active {
    color: #f6c1bb;
    background-color: transparent;
    text-decoration: underline;
  }

.err {
    color: #ec6d7b;
}

/* Fade in Up */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,50vh,0)
    }

    to {
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.card {

}

.card-header {

}

.card-body {

}

.blockquote {

}