<!DOCTYPE html>
<html>
    <head>
        <title>Complimentary</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div style="height: 50px;" class="container-md">
            <form method="post" action="/">
            <nav class="nav nav-pills flex-column flex-sm-row fw-bold">
              
                <a class="flex-sm-fill text-sm-center nav-link" style="background-color: rgb(172, 220, 224, {% block homebut %} {%endblock homebut %}); color: black;" aria-current="page" href="{{url_for('game')}}">Game</a>
                <a class="flex-sm-fill text-sm-center nav-link" style="background-color: rgb(172, 220, 224, {% block aboutbut %} {%endblock aboutbut %}); color: black;"href="{{url_for('collection')}}">Collection</a>
                <a class="flex-sm-fill text-sm-center nav-link" style="background-color: rgb(172, 220, 224, {% block pokedexbut %} {%endblock pokedexbut %}); color: black;"href="{{url_for('register')}}">Register</a>
              
            </nav>
            </form>
        </div>
        <!--
        <div class="navbar">
            <ul>
                <li href="">Register</li>
                <li href="">Compliment</li>
                <li href="">See All</li>
            </ul>
        </div>
         -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>

    </html>