{% extends 'base.html' %}

{% block head %}
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<br>
  <h1 style="text-align: center;">The Complimentory</h1>
<br>
<div class="container">
  {% for post in data %}
  <div class="card animated animatedFadeInUp fadeInUp">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="row">
          <img class="info" src="{{ post[4] }}" alt="Image">
          <p class="desc">&nbsp wants to let you know...</p>
          <p class="desc" style="font-size: 12px; position: absolute; right: 15px;">Posted on {{ post[3] }}</p>
      </div>
        <p class="content">{{ post[1] }}</p>
      <p class="desc">Yours truly, {{ post[0] }}</p>
      </blockquote>
      <button class="fa fa-thumbs-up">Like</button>
      <button class="fa fa-thumbs-down">Dislike</button>
      <button id="copy" class="copy">Use this</button>
    </div>
  </div>
<br>
  {% endfor %}
</div>
<script type="text/javascript" src="/static/js/collection.js"></script>
{% endblock %}
