{% extends 'base.html' %}

{% block head %}
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}
{% block background %}
  blobs-bg
{% endblock %}
{% block content %}
<br>
  <h1 style="text-align: center;">The Complimentory</h1>
<br>
<div class="container" id="coll">
  {% for post in data %}
  <div class="card animated animatedFadeInUp fadeInUp">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <div class="row">
          <img class="info" style="position: absolute; left: 2%"src="{{ post[4] }}" alt="Image">
          <p class="desc" style="position: absolute; left: 6%;">&nbsp wants to let you know...</p>
          <p class="desc time" style="font-size: 12px; position: absolute; right: 15px;">Posted on {{ post[3] }}</p>
      </div>
      <br>
        <p class="content">{{ post[1] }}</p>
      <p class="desc name">Yours truly, {{ post[0] }}</p>
      </blockquote>

      {% if post[5] %}
        <i class="fa-heart fa-solid">&nbsp {{ post[2] }}</i>
        {% else %}
        <i class="fa-heart fa-regular">&nbsp {{ post[2] }}</i>
      {% endif %}
      <br>
      <input class="btn btn-primary" style="border: 1px solid #000; color: #000; background-color: transparent;" type="submit" value="Copy">
    </div>
  </div>
<br>
  {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/collection.js"></script>
{% endblock %}
