{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}" />
{% endblock %}

{% block background %}
home-bg
{%endblock%}

{% block homebut %}
0.6
{% endblock homebut %}

{% block gamebut %}
1
{% endblock gamebut %}

{% block colbut %}
0.6
{% endblock colbut %}

{% block probut %}
0.6
{% endblock probut %}

{% block logbut %}
0.6
{% endblock logbut %}

{% block content %}
<div id="canvas-container"> 
  <canvas id="game"></canvas>
  <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
  <div id="content1">
    <button type="button" class="btn btn-primary btn-lg">Reroll</button>
    <div class="words" ondrop="drop(event)" ondragover="allowDrop(event)">
      {% for i in range(words|length) %}
      <button id="drop{{i}}" name="{{words[i]}}" class="btn" draggable="true" ondragstart="drag(event)">
        {{words[i]}}
      </button>
      {% endfor %}
    </div>
    <div id="sentence" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    <button onclick="sentence()" class="btn btn-secondary">Submit</button>
  </div>
</div>

{% endblock %}