{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/game.css') }}" />
<link href="/static/css/landing.css" rel="stylesheet">
<style>
  #content {
    background-color: rgba(255,255,255,0.6);
    margin-top: 23px;
  }
</style>
{% endblock %}

{% block background %}
home-bg
{%endblock%}

{% block content %}
<div id="background">
  <div id="container">
    <p style="color: #fd5761;">Create your compliment</p>
  </div>
  <div id="canvas-container" class="glass shadow"> 
    <canvas id="game"></canvas>
    <div id="content1">
      <div id="wordblock" class="words" ondrop="drop(event)" ondragover="allowDrop(event)">
        {% for i in range(words|length) %}
        <button id="drop{{i}}" name="{{words[i]}}" class="btn noDrop dragword" draggable="true" ondragstart="drag(event)">
          {{words[i]}}
        </button>
        {% endfor %}
      </div>
      <br>
      <div id="sentence" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      <div>
        <br>
        <button type="button" class="btn btn-secondary" style="border-radius: 5px !important;"onclick="refresh()">Reroll</button>
        <button onclick="sentence()" class="submit btn btn-primary" style="border-radius: 5px !important;">Submit</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}