{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block background %} 
home-bg
{%endblock%}

{% block homebut %}
0.8
{% endblock homebut %}

{% block aboutbut %}
0.8
{% endblock aboutbut %}

{% block pokedexbut %}
0.8
{% endblock pokedexbut %}

{% block content %}

        <div class="container">
                <p class="heading-text row">Complimentary</p>
                <p class="desc-text row">
                    Are you struggling with winning over your significant other? <br />
                    Are you usually at a loss for words? <br />
                    Look no further!
                </p>
        </div>
        <div class="btns">
            <a class="btns-1" href="">Compliment</a>
            <a class="btns-2" href="">See All</a>
        </div>
{% endblock %}


