{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block head %}
{{ super() }}
    <link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block background %} 
home-bg
{%endblock%}    

{% block content %}

        <div class="container">
                <p class="heading-text row animated animatedFadeInUp fadeInUp">Complimentary</p>
                <p class="desc-text row animated animatedFadeInUp fadeInUp">
                    Are you struggling with winning over your significant other? <br />
                    Are you usually at a loss for words? <br />
                    Look no further!
                </p>
                <div class="btns">
                    <a class="btns-1" href="{{url_for('game')}}">Compliment</a>
                    <a class="btns-2" href="{{url_for('collection')}}">See All</a>
                </div>
        </div>
{% endblock %}


