{% extends 'base.html' %}
{% block head %}
{{ super() }}
    <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="bg-container">
        <img src="/static/images/blobs.png" class="background-image">
        <img src="/static/images/left_rose.png" class="left_rose" alt="rose">
        <img src="/static/images/right_rose.png" class="right_rose" alt="rose">
        <p class="heading-text">Complimentary</p>
        <p class="desc-text">
            Are you struggling with winning over your significant other? <br />
            Are you usually at a loss for words? <br />
            Look no further!
        </p>
    </div>
{% endblock %}


