{% extends 'base.html' %}
{% block head %}
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  <img src="/static/images/right_reg.png" class="right" alt="blob">
</div>
<div class="container" id="login">
  <div class = "form-group col-6">
    
    <h2>Login</h2>
    <p class="err"> {{ error }} </p>
    <form action="/login" method="POST">

      <input name="username" class="form-control" type="text" placeholder="Username"> 
      <br>
      <input name="password" class="form-control" type="password" placeholder="Password"
      <br>
      <br>
      <button type="submit" class="submit btn btn-primary btn-block">Login</button>
      <br>
    </form> 
    <p>Not a member yet? <a href="/register" class="link">Register</a><p>
  </div>
</div>

{% endblock %}
