{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block head %}
{{ super() }}
  <link href="/static/css/style.css" rel="stylesheet">
{% endblock %}

{% block background %} 
log-bg
{%endblock%}

{% block homebut %}
0.6
{% endblock homebut %}

{% block gamebut %}
0.6
{% endblock gamebut %}

{% block colbut %}
0.6
{% endblock colbut %}

{% block probut %}
0.6
{% endblock probut %}

{% block logbut %}
1
{% endblock logbut %}

{% block content %}

<div class="container animated animatedFadeInUp fadeInUp" id="login">
  <div class = "form-group col-6">
    
    <h2>Login</h2>
    <p class="err"> {{ error }} </p>
    <form action="/login" method="POST">

      <input name="username" class="form-control" type="text" placeholder="Username"> 
      <br>
      <input name="password" class="form-control" type="password" placeholder="Password"
      <br>
      <br>
      <button type="submit" class="submit btn btn-primary btn-block">Login</button>
      <br>
    </form> 
    <p>Not a member yet? <a href="/register" class="link">Register</a><p>
  </div>
</div>

{% endblock %}
