{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}

{% block content %}
    <br>
    {{ error }}

    {{ success }}
    <div class="container">
      <div class="row">
        <img src="{{ image_url }}" style="width: 65px; height: 65px; border-radius: 100px;"> </img>
       <h2>&nbsp  {{ username }} </h2>
      </div>
    <br>
    <div class="card" style="background-color: #fff !important;">
      <div class="card-header">
        <h5>Your sweetest compliments</h5>
      </div>
      <ul class="list-group list-group-flush">
        {% for post in posts %}
          <li class="list-group-item" style="font-style: italic;"> {{ post[1] }} </li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <form action="/profile" method="POST">
      <input type="hidden" name="change" value="password">
      <input name="current_password" class="form-control" type="password" placeholder="Current Password">
      <br>
      <input name="new_password" class="form-control" type="password" placeholder="New Password"
      <br>
      <input name="repeat_password" class="form-control" type="password" placeholder="Repeat New Password"
      <br>
      <br>
      <button type="submit" class="submit btn btn-primary btn-block">Change Password</button>
      <br>
    </form>
    <form action="/profile" method="POST">
      <input type="hidden" name="change" value="profile_picture">
      <input name="new_pfp" class="form-control" type="text" placeholder="New Profile Picture URL"
      <br>
      <br>
      <button type="submit" class="submit btn btn-primary btn-block">Change Profile Picture</button>
      <br>
    </form>

{% endblock %}
