{% extends 'base.html' %}
{% block title %}
Reset
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/reset.css') }}"/>
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block background %}
home-bg
{%endblock%}

{% block homebut %}
0.6
{% endblock homebut %}

{% block gamebut %}
1
{% endblock gamebut %}

{% block colbut %}
0.6
{% endblock colbut %}

{% block probut %}
0.6
{% endblock probut %}

{% block logbut %}
0.6
{% endblock logbut %}

{% block content %}
<div id="canvas-container">
    <canvas id="game"></canvas>
    <div id="content1">
        <button class="btn btn-secondary" onclick="copy()">Copy & Paste</button>
        <a href="{{url_for('game')}}"><button class="btn btn-secondary">Try Again</button></a>
        <button class="btn btn-secondary">Share</button>
        <a href="{{url_for('collection')}}"><button class="btn btn-secondary">See What others are cooking</button></a>
    </div>
</div>

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/reset.js') }}">
</script>
{% endblock %}