{% extends 'base.html' %}
{% block title %}
Reset
{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/reset.css') }}" />
<link href="/static/css/landing.css" rel="stylesheet">
{% endblock %}

{% block background %}
home-bg
{%endblock%}

{% block content %}
<div id="background">
    <div id="container">
        <p style="color: #fd5761;">View your compliment</p>
    </div>
    <div id="canvas-container" class="shadow">
        <canvas id="game"></canvas>
        <div id="content1">
            {% for i in range(5) %}
            <br />
            {% endfor %}
            <div class="row">
                <button style="margin: 0px 8px;" class="btn btn-secondary" onclick="copy()">Copy</button>
                <a style="margin: 0px 8px;" href="{{url_for('game')}}"><button class="btn btn-secondary">Retry</button></a>
                <a style="margin: 0px 8px;" href="{{url_for('collection')}}"><button class="btn btn-secondary">See all</button></a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/reset.js') }}">
</script>
{% endblock %}